.intro {
  padding-top: 95px;
  padding-bottom: 41px;
  margin: 0 55px;
  @include resp-prop(padding-top, 95, 65, $contWidth, $mobileWidth, 0);
  @include resp-prop(margin-left, 55, 30, $contWidth, $tablet-768, 0);
  @include resp-prop(margin-right, 55, 30, $contWidth, $tablet-768, 0);

  @media screen and (max-width: $px-tablet-768) {
    margin: 0;
  }

  .container {
    position: relative;
    @media screen and (max-width: $px-tablet-768) {
      padding: 0;
    }
  }

  &__slider {
    overflow: hidden;
    min-width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    @include resp-prop(padding-bottom, 30, 15, $contWidth, $mobileWidth, 0);

    .slide {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
      gap: 100px;
      @include resp-prop(gap, 100, 20, $contWidth, $tablet-768, 0);

      &__content {
        padding: 10px 0;
        flex: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @media screen and (max-width: $px-tablet-768) {
          padding-right: 20px;
        }
      }
      &__img {
        display: flex;
        align-items: center;

        grid-row-start: 2 span;
        flex: 55%;
        position: relative;
        @media screen and (max-width: $px-tablet-768) {
          flex: 40%;
        }

        .swiper-lazy-preloader {
          width: 48px;
          height: 48px;
          border: 5px solid #fff;
          border-bottom-color: #ff3d00;
          border-radius: 50%;
          display: inline-block;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;

          @keyframes rotation {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
        img {
          object-fit: cover;
          width: 100%;

          //^ Висота слайдеру залежить від картинки
          height: 300px;
          @include resp-prop(height, 400, 130, $contWidth, $mobileWidth, 0);

          @media screen and (max-width: $px-tablet-768) {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }

      &__title {
        display: block;
        color: $dark-grey;
        font-family: $font-Federo;
        font-size: 50px;
        @include resp-prop(font-size, 50, 18, $contWidth, $mobileWidth, 0);
      }

      .slide__btn {
        margin-top: 25px;
        @include resp-prop(margin-top, 25, 15, $contWidth, $tablet-768, 0);
        @include resp-prop(padding-left, 17, 8, $tablet-768, $mobileWidth, 0);
        @include resp-prop(padding-right, 17, 8, $tablet-768, $mobileWidth, 0);
        @include resp-prop(font-size, 16, 12, $tablet-768, $mobileWidth, 0);
      }
    }

    .slide-1 {
      background-color: white;
    }
    .slide-2 {
      background-color: rgb(230, 230, 230);
    }
    .slide-3 {
      background-color: #ffd9d9;
    }

    .swiper-pagination {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 1;
      display: flex;
      gap: 5px;
      justify-content: center;

      &-bullet {
        display: inline-block;
        width: 80px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.4);
        transform: skew(-40deg);
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.4s ease 0s;
        @include resp-prop(width, 80, 50, $contWidth, $mobileWidth, 0);
        @include resp-prop(height, 20, 10, $contWidth, $mobileWidth, 0);

        &-active {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  .slider__btns {
    @media screen and (max-width: $px-tablet-768) {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      align-items: center;
      gap: 20px;
    }
  }
  .slider__btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 50px;
    transition: background-color 0.4s ease 0s;
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-radius: 20px;
    @include resp-prop(font-size, 50, 24, $contWidth, $tablet-768, 0);
    &:hover {
      background-color: rgba(0, 0, 0, 0.07);
    }

    @media screen and (max-width: $px-tablet-768) {
      border-radius: 100px;
      justify-content: center;
      position: relative;
      font-size: 30px;
      padding: 10px;
      width: 50px;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.1);
      @include resp-prop(font-size, 30, 20, $tablet-768, $mobileWidth, 0);
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .slider__prev-btn {
    left: -45px;
    padding-right: 100px;
    padding-left: 17px;
    transform: translate(0, -50%);
    @include resp-prop(left, -45, -25, $contWidth, $tablet-768, 0);
    @media screen and (max-width: $px-tablet-768) {
      padding: 0;
      left: 0;
      transform: none;
    }
  }
  .slider__next-btn {
    right: 45px;
    padding-right: 100px;
    padding-left: 17px;
    transform: translate(0, -50%) rotate(180deg);
    @include resp-prop(right, -45, -25, $contWidth, $tablet-768, 0);
    @media screen and (max-width: $px-tablet-768) {
      padding: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
}
