.weekly-deal {
  padding-left: 20px;
  @media screen and (max-width: 620px) {
    padding-left: 0;
  }

  .container {
    position: relative;
    background-color: $almost-white;
    border-radius: 1000px 0 0 1000px;
    padding-top: 36px;
    padding-left: 36px;
    padding-bottom: 47px;
    @media screen and (max-width: 620px) {
      background-color: transparent;
      background-image: linear-gradient(
        to bottom,
        transparent 10%,
        $almost-white 90%,
        transparent
      );
    }

    &::before {
      content: '';
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 100vw;
      background-color: $almost-white;
      @media screen and (max-width: 620px) {
        display: none;
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 104px;
    @include resp-prop(gap, 104, 20, $contWidth, $tablet-768, 0);

    @media screen and (max-width: $px-tablet-768) {
      padding-left: 100px;
      flex-direction: column-reverse;
    }
    @media screen and (max-width: 620px) {
      padding-left: $px-contPadWidth;
      border-radius: 0;
    }
  }

  &__img {
    flex: 50%;
    overflow: hidden;
    padding: 20px;
    border-radius: 100%;
    background-color: $white;
    max-width: 523px;
    max-height: 523px;
    min-width: 523px;
    min-height: 523px;
    @include resp-prop(max-width, 523, 300, $contWidth, $tablet-768, 0);
    @include resp-prop(min-width, 523, 300, $contWidth, $tablet-768, 0);
    @include resp-prop(max-height, 523, 300, $contWidth, $tablet-768, 0);
    @include resp-prop(min-height, 523, 300, $contWidth, $tablet-768, 0);

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 34px 4px rgba(86, 86, 86, 0.2);
    transition: all 0.4s ease 0s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 34px 4px rgba(86, 86, 86, 0.4);
      background-color: rgb(222, 255, 255);
      img {
        transform: scale(1.04);
      }
    }

    position: relative;
    &::before {
      display: none;
      content: 'Deal of the week';
      position: absolute;
      right: 0;
      bottom: 0;

      background-color: $light-grey1;
      color: $white;
      text-align: center;
      align-self: flex-start;
      padding: 8px 34px;
      padding-right: 25px;
      width: 100%;
      text-align: right;
      font-size: 16px;
      letter-spacing: -0.56px;
      text-transform: uppercase;
    }

    @media screen and (max-width: $px-tablet-768) {
      &::before {
        display: block;
      }
      align-self: flex-start;
      border-radius: 100% 100% 25% 100%;
      margin-top: -300px;
      @include resp-prop(margin-top, -300, -250, $tablet-768, 620, 0);
      @include resp-prop(margin-left, 0, -50, $tablet-768, 620, 0);
    }
    @media screen and (max-width: 620px) {
      @include resp-prop(margin-top, 0, 0, 620, $mobileWidth, 0);
      margin-left: 50px;
      @include resp-prop(margin-left, 60, 0, 620, $mobile-480, 0);
    }
    @media screen and (max-width: $px-mobile-480) {
      border-radius: 10%;
      &::before {
        text-align: center;
      }

      @include resp-prop(max-width, 300, 210, $mobile-480, $mobileWidth, 0);
      @include resp-prop(min-width, 300, 210, $mobile-480, $mobileWidth, 0);
      @include resp-prop(max-height, 300, 210, $mobile-480, $mobileWidth, 0);
      @include resp-prop(min-height, 300, 210, $mobile-480, $mobileWidth, 0);
    }

    img {
      transition: all 0.4s ease 0s;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__content {
    flex: 50%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $px-tablet-768) {
      align-items: flex-end;
    }
  }

  &__special-title {
    background-color: $light-grey1;
    color: $white;
    text-align: center;
    align-self: flex-start;
    padding: 8px 34px;
    font-size: 16px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    @include resp-prop(font-size, 16, 12, $contWidth, $tablet-768, 0);
    @include resp-prop(letter-spacing, -0.56, 1.1, $contWidth, $tablet-768, 0);

    @media screen and (max-width: $px-tablet-768) {
      display: none;
    }
  }

  &__price-title {
    margin-top: 41px;
    @include resp-prop(margin-top, 41, 10, $contWidth, $tablet-768, 0);
    font-size: 45px;
    font-family: $font-Federo;
    letter-spacing: 0.9px;
    color: $dark-grey;
    @include resp-prop(font-size, 45, 35, $contWidth, $tablet-768, 0);
    .price {
      color: $light-grey2;
    }

    @media screen and (max-width: $px-tablet-768) {
      @include resp-prop(font-size, 50, 35, $tablet-768, $mobileWidth, 0);
    }
  }

  &__description {
    margin-top: 28px;
    @include resp-prop(margin-top, 28, 10, $contWidth, $tablet-768, 0);
    font-size: 16px;
    color: $dark-grey2;
    letter-spacing: 1px;
    color: #727272;
    line-height: 26px;
    @include resp-prop(font-size, 16, 12, $contWidth, $tablet-768, 0);
    @include resp-prop(line-height, 26, 20, $contWidth, $tablet-768, 0);

    @media screen and (max-width: $px-tablet-768) {
      margin-top: 20px;
      @include resp-prop(font-size, 20, 15, $tablet-768, $mobileWidth, 0);
      @include resp-prop(line-height, 26, 22, $contWidth, $tablet-768, 0);
    }
  }

  &__btn {
    margin-top: 28px;
    justify-self: flex-start;
    @include resp-prop(margin-top, 28, 15, $contWidth, $tablet-768, 0);
    @media screen and (max-width: $px-tablet-768) {
      margin: 20px 0 15px;
      button {
        font-size: 16px;
        padding: 10px 30px;
      }
    }
  }

  &__products {
    margin-top: 26px;
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    overflow: auto;
    @include resp-prop(margin-top, 26, 15, $contWidth, $tablet-768, 0);
    @include resp-prop(gap, 26, 10, $contWidth, $tablet-768, 0);

    @media screen and (max-width: $px-tablet-768) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 620px) {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 30px;
      bottom: 30px;
      @include resp-prop(right, 30, 15, $mobile-480, $mobileWidth, 0);
    }
  }

  &__product.product {
    width: 87px;
    height: 87px;
    @include resp-prop(width, 87, 60, $contWidth, $tablet-768, 0);
    @include resp-prop(height, 87, 60, $contWidth, $tablet-768, 0);
    background-color: $white;
    border: 0.1px solid #000;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    &:hover {
      background-color: rgb(222, 255, 255);
    }
    @media screen and (max-width: $px-tablet-768) {
      width: 120px;
      height: 120px;
      @include resp-prop(width, 120, 50, $tablet-768, $mobileWidth, 0);
      @include resp-prop(height, 120, 50, $tablet-768, $mobileWidth, 0);
    }
    @media screen and (max-width: 620px) {
      &._resp-remove {
        display: none;
      }
    }

    .product__img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        object-fit: contain;
        transform: scale(0.5);
      }
    }
  }
}
