.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1001;

  background-color: $white;
  padding: 25px 0;
  @include resp-prop(padding-top, 25, 17, $contWidth, $tablet-768, 0);
  @include resp-prop(padding-bottom, 25, 17, $contWidth, $tablet-768, 0);
  transition: all 0.4s ease 0s;

  // .container {
  // }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__logo {
    position: relative;
    font-size: 38px;
    color: $dark-grey2;
    -webkit-text-stroke: 1.5px $black;
    letter-spacing: -1.33px;
    @include resp-prop(font-size, 38, 26, $contWidth, $tablet-768, 0);
    transition: all 0.4s ease 0s;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 35px;
    @include resp-prop(gap, 35, 25, $contWidth, $tablet-768, 0);
  }

  &__link {
    color: $light-grey;
    font-size: 16px;
    letter-spacing: -0.56px;
  }

  &__main-nav {
    display: flex;
    gap: 35px;
    @include resp-prop(gap, 35, 25, $contWidth, $tablet-768, 0);
  }

  &__icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;

    color: $light-grey2;
    font-size: 24px;
    cursor: pointer;
    @include resp-prop(font-size, 24, 18, $contWidth, $tablet-768, 0);
    @include resp-prop(width, 28, 24, $contWidth, $tablet-768, 0);
    @include resp-prop(height, 28, 24, $contWidth, $tablet-768, 0);

    // & ._icon-drile {
    // }
    // & ._icon-search {
    // }
    // & ._icon-cart {
    // }
    // & ._icon-profile {
    // }
  }

  &._scroll-shadow {
    box-shadow: -8px 0 6px rgba(0, 0, 0, 0.6);
  }

  .burger-menu {
    z-index: 1001;
    @media screen and (max-width: $px-tablet-768) {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 100vw;
      z-index: 2000;
      transition: transform 0.4s ease 0s;

      gap: 0;
      padding: 30px 0 10px;
      background-color: $dark-grey2;
      overflow: auto;
      height: 100vh;

      &__link {
        padding: 15px 20px;
        color: $white;
        font-weight: 700;
        font-size: 20px;
        text-indent: 20px;
        width: 50vw;
        display: block;
        background-color: $dark-grey2;
        transition: all 0.4s ease 0s;
        @include resp-prop(text-indent, 20, 0, $contWidth, $mobileWidth, 0);
        @include resp-prop(font-size, 20, 16, $contWidth, $mobileWidth, 0);
        @include resp-prop(padding-top, 15, 10, $contWidth, $mobileWidth, 0);
        @include resp-prop(padding-bottom, 15, 10, $contWidth, $mobileWidth, 0);
        &:hover {
          filter: brightness(1.1);
          text-indent: 0;
        }
      }

      &.burger-menu--active {
        transform: translateX(-100%);
      }
    }
  }

  &.burger-menu--active {
    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      rgba(206, 206, 206, 0.4),
      transparent
    );

    .header__icon {
      opacity: 0;
      visibility: none;
      pointer-events: none;
    }

    .header__logo {
      @media screen and (max-width: $px-tablet-768) {
        z-index: 1001;
        color: $white;
        --translateX: 20px;
        transform: translateX(var(--translateX)) scale(1.1);
        @media screen and (max-width: $px-mobile-480) {
          --translateX: 10px;
        }
        @media screen and (max-width: $px-mobile-320) {
          --translateX: 0px;
        }
      }
    }
  }

  .burger-menu-btn {
    @media screen and (min-width: $px-tablet-768) {
      display: none;
    }
    width: 27px;
    height: 27px;
    z-index: 3000;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    &:hover {
      transform: scale(1.05);
    }

    [class*='line'] {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 5px;
      border-radius: 100px;
      background-color: $dark-grey2;
      transition: all 0.4s ease 0s;

      &.first-line {
        transform: translate(-50%, -250%);
      }
      &.second-line {
        transform: translate(-50%, -50%);
      }
      &.third-line {
        transform: translate(-50%, 150%);
      }
    }
    &.burger-menu--active {
      .first-line {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      .second-line {
        opacity: 0;
      }
      .third-line {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
