<section class="best-sellers">
  <div class="container">
    <h2 class="best-sellers__title _title-h2 center capitalize">
      Best seller items
    </h2>

    <section class="best-sellers__items items">
      <div class="item">
        <div class="hot"></div>
        <div class="sale">5</div>

        <div class="item__preloader">
          <span class="loader"></span>
        </div>

        <a class="item__content" href="##">
          <div class="item__img">
            <img
              loading="lazy"
              src="/images/products/Metal Vintage Pendant.png"
              alt="Metal Vintage Pendant"
            />
          </div>
          <h4 class="item__name">Metal Vintage Pendant</h4>
          <p class="item__price">$79.00</p>
        </a>
        <div class="item__tools">
          <span class="_icon-twoArrowsReload"></span>
          <span class="_icon-emptyHeart"></span>
          <span class="_icon-cartLessDetails"></span>
        </div>
      </div>

      <div class="item">
        <div class="item__preloader">
          <span class="loader"></span>
        </div>

        <a class="item__content" href="##">
          <div class="item__img">
            <img
              loading="lazy"
              src="/images/products/Klosh Table Clock.png"
              alt="Klosh Table Clock"
            />
          </div>
          <h4 class="item__name">Klosh Table Clock</h4>
          <p class="item__price">$99.00</p>
        </a>
        <div class="item__tools">
          <span class="_icon-twoArrowsReload"></span>
          <span class="_icon-emptyHeart"></span>
          <span class="_icon-cartLessDetails"></span>
        </div>
      </div>

      <div class="item">
        <div class="item__preloader">
          <span class="loader"></span>
        </div>

        <a class="item__content" href="##">
          <div class="item__img">
            <img
              loading="lazy"
              src="/images/products/Arne Dining Chair.png"
              alt="Arne Dining Chair"
            />
          </div>
          <h4 class="item__name">Arne Dining Chair</h4>
          <p class="item__price">$350.00</p>
        </a>
        <div class="item__tools">
          <span class="_icon-twoArrowsReload"></span>
          <span class="_icon-emptyHeart"></span>
          <span class="_icon-cartLessDetails"></span>
        </div>
      </div>

      <div class="item">
        <div class="hot"></div>

        <div class="item__preloader">
          <span class="loader"></span>
        </div>

        <a class="item__content" href="##">
          <div class="item__img">
            <img
              loading="lazy"
              src="/images/products/Klosh Wall Clock.png"
              alt="Klosh Wall Clock"
            />
          </div>
          <h4 class="item__name">Klosh Wall Clock</h4>
          <p class="item__price">$80.00 – $129.00</p>
        </a>
        <div class="item__tools">
          <span class="_icon-twoArrowsReload"></span>
          <span class="_icon-emptyHeart"></span>
          <span class="_icon-cartLessDetails"></span>
        </div>
      </div>
    </section>
  </div>
</section>
