<section class="intro">
  <div class="container">
    <!--# Swiper -->
    <section class="intro__slider swiper">
      <!--# Slides in wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide slide slide-1">
          <div class="slide__img">
            <img
              loading="lazy"
              src="/images/vecteezy_interior-design-of-a-modern-room-in-3d-illustration_2074065 1.png"
              alt="Shop now!"
            />
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="slide__content">
            <h2 class="slide__title">Get ready for Our stylist chair.</h2>
            <button class="slide__btn shop-now-btn">Shop now</button>
          </div>
        </div>

        <div class="swiper-slide slide slide-2">
          <div class="slide__img">
            <img
              loading="lazy"
              src="https://images.unsplash.com/photo-1694984121999-36d30b67f391?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="Shop now!"
            />
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="slide__content">
            <h2 class="slide__title">
              Get ready for Our stylist chair. Slide 2
            </h2>
            <button class="slide__btn shop-now-btn">Shop now</button>
          </div>
        </div>

        <div class="swiper-slide slide slide-3">
          <div class="slide__img">
            <img
              loading="lazy"
              src="https://images.unsplash.com/photo-1663258626183-4250bc9e95e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
              alt="Shop now!"
            />
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="slide__content">
            <h2 class="slide__title">
              Get ready for Our stylist chair. Slide 3
            </h2>
            <button class="slide__btn shop-now-btn">Shop now</button>
          </div>
        </div>
      </div>

      <!--# Swiper dots -->
      <div class="swiper-pagination"></div>
    </section>

    <!--# Nav btns for swiper -->
    <div class="slider__btns">
      <div class="slider__btn slider__prev-btn _icon-arrow-toLeft"></div>
      <div class="slider__btn slider__next-btn _icon-arrow-toLeft"></div>
    </div>
  </div>
</section>
