<section class="trend-categories">
  <div class="container">
    <h2 class="trend-categories__title _title-h2 center uppercase">
      Trending categories
    </h2>
    <!--# Slider main container -->
    <div class="trend-categories__slider-wrapper">
      <section class="trend-categories__slider swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide slide" data-products-tab="dressing table">
            <div class="slide__icon _icon-dressingTable"></div>
            <h3 class="slide__name">Dressing table</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="lamp">
            <div class="slide__icon _icon-lamp"></div>
            <h3 class="slide__name">Lamp</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="cabinet">
            <div class="slide__icon _icon-cabinet"></div>
            <h3 class="slide__name">Cabinet</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="sofa">
            <div class="slide__icon _icon-sofa"></div>
            <h3 class="slide__name">Sofa</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="chair">
            <div class="slide__icon _icon-chair"></div>
            <h3 class="slide__name">Chair</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="bed">
            <div class="slide__icon _icon-bed"></div>
            <h3 class="slide__name">Bed</h3>
          </div>
          <!-- ! The same slides for loop mode -->
          <div class="swiper-slide slide" data-products-tab="dressing table">
            <div class="slide__icon _icon-dressingTable"></div>
            <h3 class="slide__name">Dressing table</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="lamp">
            <div class="slide__icon _icon-lamp"></div>
            <h3 class="slide__name">Lamp</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="cabinet">
            <div class="slide__icon _icon-cabinet"></div>
            <h3 class="slide__name">Cabinet</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="sofa">
            <div class="slide__icon _icon-sofa"></div>
            <h3 class="slide__name">Sofa</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="chair">
            <div class="slide__icon _icon-chair"></div>
            <h3 class="slide__name">Chair</h3>
          </div>
          <div class="swiper-slide slide" data-products-tab="bed">
            <div class="slide__icon _icon-bed"></div>
            <h3 class="slide__name">Bed</h3>
          </div>
        </div>
      </section>
      <!--# Slider buttons -->
      <div class="swiper-button-prev _icon-arrow-toLeft"></div>
      <div class="swiper-button-next _icon-arrow-toLeft"></div>
    </div>

    <!--# Category products -->
    <section class="trend-categories__products">
      <!-- Products will display here  -->
    </section>

    <!--# See more products button -->
    <div class="trend-categories__load-more-btn">
      <a href="/layout-furniture/404/index.html">
        <button>
          <span>See all</span>
        </button>
      </a>
    </div>
  </div>
</section>
