<section class="weekly-deal">
  <div class="container">
    <a class="weekly-deal__img" href="##">
      <img src="/images/products/White Armchair.png" alt="White Armchair" />
    </a>

    <div class="weekly-deal__content">
      <h3 class="weekly-deal__special-title">Deal of the week</h3>
      <h2 class="weekly-deal__price-title">
        from <span class="price">$99.99</span>
      </h2>
      <p class="weekly-deal__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget
        hendrerit odio, non ultrices lorem. Donec vel vestibulum eros. Curabitur
        fringilla arcu varius.
      </p>
      <div class="weekly-deal__btn">
        <button class="shop-now-btn">Shop now</button>
      </div>
      <section class="weekly-deal__products">
        <a class="weekly-deal__product product" href="##">
          <div class="product__img">
            <img
              src="/images/products/Untitled Clock.png"
              alt="Untitled Clock"
            />
          </div>
        </a>

        <a class="weekly-deal__product product" href="##">
          <div class="product__img">
            <img
              src="/images/products/Modern Outdoor Chair.png"
              alt="Modern Outdoor Chair"
            />
          </div>
        </a>

        <a class="weekly-deal__product product" href="##">
          <div class="product__img">
            <img
              src="/images/products/Modern Bedroom Storage.png"
              alt="Modern Bedroom Storage"
            />
          </div>
        </a>

        <a class="weekly-deal__product product _resp-remove" href="##">
          <div class="product__img">
            <img
              src="/images/products/Metal Vintage Pendant.png"
              alt="Metal Vintage Pendant"
            />
          </div>
        </a>
      </section>
    </div>
  </div>
</section>
