<footer class="footer">
  <div class="container">
    <a href="/index.html" class="footer__logo">Drile</a>
    <nav class="footer__nav">
      <ul class="footer__list">
        <h4 class="footer__list-title">About us</h4>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >About Us</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Contact Us</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Private Policy</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Terms of Service</a
          >
        </li>
      </ul>
      <ul class="footer__list">
        <h4 class="footer__list-title">Company</h4>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Explore World</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Trending Video</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Book a Trip</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Visit Gallery</a
          >
        </li>
      </ul>
      <ul class="footer__list">
        <h4 class="footer__list-title">Useful links</h4>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Buy this theme</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Drile Landing</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Documentation</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            >Video tutorial</a
          >
        </li>
      </ul>
      <ul class="footer__list">
        <h4 class="footer__list-title">Follow us</h4>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            ><span class="icon _icon-facebook"></span>Facebook</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            ><span class="icon _icon-twitter"></span>Twitter</a
          >
        </li>
        <li>
          <a href="/layout-furniture/404/index.html" class="footer__list-link"
            ><span class="icon _icon-instagram"></span>Instagram</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__copy">
    <h5 class="footer__copy-text">
      &copy; Copyright 2022 &#124; Drile &#124; All right reserved.
    </h5>
  </div>
</footer>
