<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="/index.html" class="header__logo _icon-drile"></a>
      <!--# Nav with burger  -->
      <ul class="header__list burger-menu">
        <li>
          <a class="header__link burger-menu__link" href="/404/index.html"
            >Home</a
          >
        </li>
        <li>
          <a class="header__link burger-menu__link" href="/404/index.html"
            >Shop</a
          >
        </li>
        <li>
          <a class="header__link burger-menu__link" href="/404/index.html"
            >Product</a
          >
        </li>
        <li>
          <a class="header__link burger-menu__link" href="/404/index.html"
            >Blog</a
          >
        </li>
        <li>
          <a class="header__link burger-menu__link" href="/404/index.html"
            >Page</a
          >
        </li>
        <li>
          <a class="header__link burger-menu__link" href="/404/index.html"
            >Contact</a
          >
        </li>
      </ul>
      <div class="header__main-nav">
        <div class="header__icon _icon-search"></div>
        <div class="header__icon _icon-cart"></div>
        <div class="header__icon _icon-profile"></div>
      </div>
      <!--# Burger button -->
      <button class="burger-menu-btn">
        <span class="first-line"></span>
        <span class="second-line"></span>
        <span class="third-line"></span>
      </button>
    </nav>
  </div>
</header>
